# Environment Configuration
NODE_ENV="production" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
DB_HOST=db
DB_PORT=5433

# JWT 
ACCESS_TOKEN_SECRET="FC51F30C912DD7D72B8DE3059FF175849AFDAA9A99DA078763EE6DC0A0FB9D76"
ACCESS_TOKEN_EXPIRY="15m"